*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  height: 99.8vh;
  justify-items: center;
  align-content: center;
}
#form tr,td{
  padding: 4px;
}
table{
  border: 6px solid black;
  padding: 10px;
  border-radius: 5px;
}
#form button{
  width: 60px;
}
