*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  justify-content: center;
  background-color: bisque;
  display: flex;
  align-items: center;
  height: 98.8vh;
}
#continer{
  height: 300px;
  background-color: whitesmoke;
  border: 2px solid;
  padding: 20px;
  border-radius: 10px;
  cursor: default;
}
#continer input{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  padding: 3px;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
  background-color: red;
  padding: 3px;
  border-radius: 6px;
}
.btn:hover{
  background-color: green;
}
#numberbox{
  margin-left: 30px;
  width: 80px;
  height: 30px;
}
#output{
  border: 2px solid;
  width: 67px;
  padding: 2px;
  height: 25px;
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-left: 42px;
  display: none;
  border-radius: 8px;
  cursor: default;
  background-color: bisque;
}
.click{
  cursor: pointer;
}
.res{
  cursor: pointer;
  display: none;
}
.res:hover{
  color: white;
  background-color: red;
}