*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: black;
  color: whitesmoke;
  padding: 8px;
}

.mainbody{
  background-color: gray;
  height: 92.3vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.Addlist{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 85, 85);
  height: 23vh;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Addlist h3{
  margin: 10px 0px;
  margin-bottom: 0px;
}
.Addlist input{
  margin: 10px 0px;
  
}
.Addlist button{
  margin: 10px 30%;
  width: 50px;
}

#showlist {
  background-color: rgb(250, 117, 117);
  border-radius: 20px;
  padding: 10px;
  color: white;
  margin-left: 250px;
  margin-top: 100px;
  border: 3px solid black;
  display: none;
  width: auto;
  max-width: 450px;
  height: auto;
  align-self: start;
}
#showlist li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 12px;
  margin: 6px 0;
  background-color: rgb(220, 80, 80);
  border-radius: 10px;
}
.delete {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.delete:hover {
  color: black;
}
.check-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #131313;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  cursor: pointer;
}
.check-circle.checked {
  background-color: green;
  color: white;
}
.completed span:nth-child(2) {
  text-decoration: line-through;
  opacity: 0.7;
}
.delete {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}